.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #a8eeff, #81e3fc, #81e3fc, #a8eeff)
    20% 0%;
}
